html body {
    margin: 0;
    padding: 0;
    position: relative;
}
#wholepage {
    background: url(/img/1.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Jost', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}
#centertext {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#clock {
    z-index: 1;
    height: 100px;
    font-size: 100px;
    font-weight: bolder;
    visibility: hidden;
    font-family: 'Jost', sans-serif;
}
#centertext #inputtext {
    width: 495px;
    height: 80px;
    color: white;
    font-family: 'Jost', sans-serif;
    background: transparent;
    font-size: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    border-bottom: 2px solid white;
    outline: none;
}
::placeholder{
    color: rgb(252, 250, 250);
    opacity: 1;
}
#submitone {
    margin-left: 32%;
    width: 35%;
    height: 50px;
    font-family: 'Jost', sans-serif;
    color: white;
    background: transparent;
    border-radius: 25px;
    border: 1px solid white;
    cursor: pointer;
}
#qoutebox {
    position: absolute;
    bottom: 5%;
    font-size: larger;
    visibility: hidden;
}
#todobox {
    background: rgb(2, 1, 1, 0.7);
    height: auto;
    width: 350px;
    position: absolute;
    top: 2%;
    left: 2%;
    color: white;
    border-radius: 10px;
    padding-bottom: 30px;
}
#todobox h5 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: 4000;
    font-size: large;
    padding-left: 20px;
}
#todobox span {
    font-weight: 800;
    padding-left: 20px;
}
#todobox #todoinput {
    height: 30px;
    width: 100%;
    max-width: 280px;
    margin-top: 15px;
    outline: none;
    background: transparent;
    border: none;
    color: white;
    padding-left: 20px;
}
#todobox #newtask {
    margin-top: 10px;
    width: 314px;
    height: auto;
    background: rgb(255, 255, 255, 0.2);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

 textarea {
    height: 15px;
    background: transparent;
    color: white;
    font-family: 'Jost', sans-serif;
    border: none;
    resize: none;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    outline: none;
}

#newtask .edit {
    height: 13px;
    position: absolute;
    right: 25px;
    cursor: pointer;
    top: 17px;
}
#newtask .delete {
    height: 13px;
    position: absolute;
    right: 8px;
    cursor: pointer;
    top: 17px;
}
.update-controller {
    margin-top: 3px;
    display: none;
}

.update-controller button{
    font-family: 'Jost', sans-serif;
    border-radius: 20px;
    background: rgba(243, 240, 240, 0.2);
    border: none;
    color: aliceblue;
    cursor: pointer;
}